<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minecraft.mapper.GroupLocationHistoryMapper">
    
    <select id="selectByGroupId" resultType="com.minecraft.entity.GroupLocationHistory">
        SELECT * FROM group_location_history WHERE group_id = #{groupId} ORDER BY recorded_at DESC
    </select>
    
    <select id="selectByGroupAndUser" resultType="com.minecraft.entity.GroupLocationHistory">
        SELECT * FROM group_location_history WHERE group_id = #{groupId} AND user_id = #{userId} ORDER BY recorded_at DESC
    </select>
    
</mapper>