<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minecraft.mapper.UserMapper">
    
    <update id="addPoints">
        UPDATE user SET points = points + #{points} WHERE id = #{userId}
    </update>
    
    <update id="deductPoints">
        UPDATE user SET points = points - #{points} WHERE id = #{userId} AND points >= #{points}
    </update>
    
</mapper>
